<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.component.css">
    <title>Document</title>
</head>
<body>
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Team</a>
                <a href="#">Work</a>
                <a href="#">Demo</a>
                <a href="#">aim</a>

            </div>
            <div class="footer-heading footer-2">
                <h2>Contact us</h2>
                <a href="#">help</a>
                <a href="#">offers</a>
                <a href="#">numbers</a>
                <a href="#">information</a>

        </div>
        <div class="footer-heading footer-3">
            <h2>Social</h2>
            <a href="#">Instagram</a>
            <a href="#">Facebook</a>
            <a href="#">X</a>
            <a href="#">YouTube</a>
    </div>
    <div class="footer-email-form">
        <h2>Join us</h2>
        <input type="email" placeholder="Enter your email" id="footer-email">
        <input type="submit" value="Sign Up" id="footer-email-btn">
    </div>

