<body>
<div class="checkout">
  <h1 style="color: #ffeba7">Checkout</h1>
  <h3 style="color: #ffeba7" class="sameline">Total Amount: </h3><h3 class="sameline">{{grandTotal}}</h3><br>
  <h3 class="sameline" style="color: #ffeba7">Payment Method : </h3><h3 class="sameline">Scholar Points</h3>
  <div class="row">
    <div class="col-sm-7">
      <h3 style="color: #ffeba7">Add shipping address</h3>
      <form #orderData="ngForm" class="common-form">
        <input
          #email
          type="text"
          class="form-input"
          name="email"
          placeholder="Enter User Email"
          [(ngModel)]="email_address"
        />
        <input
          #address
          type="text"
          class="form-input"
          name="address"
          placeholder="Enter User Address"
          [(ngModel)]="user_address"
        />
        <input
          #contact
          type="text"
          class="form-input"
          name="contact"
          placeholder="Enter contact details"
          [(ngModel)]="contact_details"
        /><br><br>
        <button class="btn form-button" (click)="addOrder()" (click)="updateUserPoints(email)" routerLink="/thank-you">Order Now</button>
      </form>
    </div>
  </div>
</div>
</body>