.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.card{
    padding: 20px;
    margin: 30px;
    background-color: #1f2029;
    border-style: solid;
    border-width: thin;
    border-color: #ffeba7;

}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #000000;
    background: #ffeba7;
    border-radius: 8px;
    cursor: pointer;
    transition: width 0.5s;
  }
body{
    background-color: #1f2029;
}
