<body>
    <!-- <button (click)="logout()">Logout</button>
    <button routerLink="/cart">Cart</button> -->
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
        <div class="card col-md-3">
            <img src="{{item.image}}">
            <h5 style="white-space: nowrap;overflow:hidden;text-overflow: ellipsis;max-width: 100ch; color:whitesmoke">{{item.title}}</h5>
            <p style="white-space: nowrap;overflow:hidden;text-overflow: ellipsis;max-width: 100ch; color:whitesmoke">{{item.description}}</p>
            <p style="color:whitesmoke"><strong>Price</strong> {{item.price}} Scholar Points</p>
            <button (click)="addToCart(item)" class="form-button">Add to Cart</button>
        </div>
    </ng-container>
    </div>
</div>
</body>