*{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f2029;
}

.container{
  width: 100%;
  min-height: 100vh; 
  padding-left: 8%; 
  padding-right: 8%; 
  box-sizing: relative;
  overflow: hidden;
}
.npsinr{
  padding-top: 5%;
  width: 90%;
  display: inline;
}

.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 300px 0;
}

.col-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
  display:inline-block;
}

.col-1 h2{
  font-size: 54px;
  color: #ffeba7;
  white-space: nowrap; 
}

.col-1 h3{
  font-size: 30px;
  color: #fff4cfe1;
  font-weight: 100;
  margin: 20px 0 10px;
  white-space: nowrap; 
}

.col-1 p{
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;}

button{
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #000000;
  background: #ffeba7;
  border-radius: 8px;
  cursor: pointer;
  transition: width 0.5s;
}

button img{
  width: 30px;
  display: none;
}

button:hover img{
  display: block;
}

button:hover{
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #4d4b46, #1f2029);
}

.col-1::after{
  content: '';
  width: 10px;
  height: 57%;
  background: #ffeba7;
  position: absolute;
  left: -40px;
  top: 8px;
}

