*{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f2029;
}

.container{
  width: 100%;
  min-height: 100vh; 
  padding-left: 8%; 
  padding-right: 8%; 
  box-sizing: relative;
  overflow: hidden;
}
.npsinr{
  padding-top: 5%;
  width: 90%;
  display: inline;
}

.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 300px 0;
}

.col-1{
  /* flex-basis: 40%; */
  position: relative;
  margin-left: 50px;
  display:inline-block;
}

.col-1 h2{
  font-size: 54px;
  color: #ffeba7;
  white-space: nowrap; 
}

.col-1 h3{
  font-size: 30px;
  color: #fff4cfe1;
  font-weight: 100;
  margin: 20px 0 10px;
  white-space: nowrap; 
}

.col-1 p{
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;}

  .btn{  
    border-radius: 6px;
    height: 60px;
    width: 195px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    background-color: #ffeba7;
    color: #000000;
    
  }
  .btn:hover{  
    background-color: #000000;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }

.col-1::after{
  content: '';
  width: 10px;
  height: 57%;
  background: #ffeba7;
  position: absolute;
  left: -40px;
  top: 8px;
}

